.flex-product{
    display: flex;
    margin: 20px;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.product{
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
    width: 100px;
}

.image{
    width: 100%;
}

.row{
    border-bottom: 1px solid black;
}

.text-center{
    text-align: center;
}

.cart-number{
    background-color: blueviolet;
    border-radius: 50%;
    padding: 10px;
    margin-left: 20px;
    color: #fff;
}

.top{
    margin-top: 20px;
}

.price-details{
    flex: 35%;
    margin: 0px 30px;
  }
  .price-details .adjust-price{
    display: flex;
      justify-content: space-around;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;
  }
  .price-details .adjust-price span{
    font-size: 20px;
  }